html {
  scroll-behavior: smooth;
}

body {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  font-style: normal;
  font-family: sofia-pro, sans-serif;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.2rem;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #fa1996;
  font-size: 1.4rem;
}

nav a:hover {
  color: #fa1996;
  font-size: 1.7rem;
}

/* nav {
  background: rgba(111, 111, 111, 0.468);
} */

#citat {
  font-family: sofia-pro-condensed, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.6rem;
}

#logo-img {
  width: 8rem;
  margin: 4%;
}

.nav-link {
  color: white;
  font-size: 1.6rem;
}

#hero {
  background-image: url("assets/images/hero-img.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: bottom left;
}

#hero-section {
  background-color: rgb(135, 11, 161, 0.5);
  color: white;
  padding: 4% 2% 6% 2%;
}

#hero-p {
  font-size: 0.8rem;
}

.btn-pink {
  background-color: #fa1996;
  color: white;
  border-style: none;
  width: 16rem;
  height: 3.2rem;
  font-size: 1.8rem;
  padding: 0 0 0.5rem 0;
}

.btn-pink:hover {
  background-color: rgb(135, 11, 161);
  color: white;
}

.icons {
  color: #fa1996;
  font-size: 3.8rem;
}

#loan-container {
  background-color: #f4f4f4;
}

.loan-section {
  box-shadow: 0 6px 16px rgb(0 0 0 / 0.4);
}

#loan-img-little {
  background-image: url("assets/images/little-loan.jpg");
  height: 16rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#loan-img-middle {
  background-image: url("assets/images/middle-loan.jpg");
  height: 16rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#loan-img-big {
  background-image: url("assets/images/big-loan.jpg");
  height: 16rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-loan-p {
  font-size: 2rem;
}

.about-dif-loan {
  color: rgb(255, 255, 255);
}

.loan-purple {
  background-color: #cd9bd7;
}

.loan-blue {
  background-color: #a0aaff;
}

.loan-section:hover {
  opacity: 0.8;
}

.loan-green {
  background-color: #9be5be;
}

#apply-container {
  background-color: #f4f4f4;
}

.image-lisa-tor {
  background-image: url("assets/images/lisa-tor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100vw;
}

.social-media {
  font-size: 2rem;
}

footer {
  background-color: #870aa0;
  color: white;
}

footer a {
  color: white;
  font-size: 1rem;
}

footer a:hover {
  color: #fa1996;
  font-size: 1rem;
}
